{% extends 'index.html' %}

{% block content %}
    <div class="container mt-5">
        <form action="" method="POST" class="m-auto w-50 border p-4 text-light">
            {% csrf_token %}
            <label for="">Eski Şifre</label>
            <input type="password" class="form-control" name="eski" id="">
            <label for="">Yeni Şifre</label>
            <input type="password" class="form-control" name="yeni" id="">
            <label for="">Yeni Şifre Tekrar</label>
            <input type="password" class="form-control" name="yeni2" id="">
            
            <input type="submit" class="btn btn-primary mt-2" value="Güncelle">
        </form>
    </div>
{% endblock content %}

